.Background {
  color: #fff;
  background: url("../../assests/images/3-320a6ab38d50b0cedcefc05dbb23c3eb22c94fe16f243f1c2424eeb44fd22649.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}
.Content {
  color: #fff;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.Recipes h1 {
  font-family: inherit;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  padding-bottom: 8px;
  text-align: center;
  margin: 0;
}
.Recipes .Ftitle,
.STitle {
  font-family: inherit;
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1rem;
  text-align: center;
}
.Ftitle {
  margin-bottom: 0 !important;
}
.Main {
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  max-width: 480px;
  color: #fff;
}
.Parent {
  margin: 20px auto;
  max-width: 480px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.125);
  background-color: #fff;
}
.Search {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.IconStar {
  display: inline-block;
}

.InputSearch {
  display: inline-block;
  height: 36px;
  text-align: center;
  background: transparent;
  border: 0;
  resize: none;
  padding: 0;
  outline: 0;
}
@media screen and (max-width: 300px) {
  .Parent {
    padding: 20px;
    width: 66.66%;
  }
}
.Recipes ul {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  padding-left: 0;
  font-size: 0.9rem;
  margin-top: 0;
}
