.RecipeBlock {
  background-color: #fff;
}

.Recipe {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.Recipe h2,
hr {
  margin-top: 0;
}
.Recipe h2 {
  font-size: 1.5rem;
}
.Recipe hr {
  border: 0;
  border-bottom: 1px solid #e0e6ed;
  margin: 1rem auto;
}
.Recipe h3 {
  color: #3c4858;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  font-family: inherit;
  margin-bottom: 0 !important;
}

.Recipe input,
select,
textarea {
  -webkit-appearance: none;
  font-family: inherit;
  color: #3c4858;
  border: 1px solid #e0e6ed;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.5rem;
}
.Recipe input:focus,
select:focus,
textarea:focus {
  transition: all 0.2s ease-in-out;
  border-color: #2776ff;
  color: #1f2d3d;
  outline: 0;
}
.Form textarea {
  width: 90%;
  vertical-align: middle;
}

.Form input,
select {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

.Row {
  margin-left: -15px;
  margin-right: -15px;
}
.RowChild {
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 800px) {
  .RecipeEachForm {
    width: 50%;
    float: left;
  }
}

.Upload {
  background-color: #fff;
  padding: 20px;
  height: 275px;
  max-height: 100%;
  text-align: center;
  position: relative;
}
.Upload img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.Delete {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.Details {
  width: 50%;
}

.Group {
  margin-top: 15px;
}

.Group label {
  color: #3c4858;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 1.5rem;
  font-family: inherit;
}
.Stars label {
  font-weight: bold;
  display: inline-block;
  margin-bottom: 8px;
}
/*.Group input,
textarea {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}*/
.Group svg {
  margin-right: 7px;
  margin-bottom: 8px;
  height: 25px;
}
.Box .Inner {
  box-shadow: rgba(0, 0, 0, 0.09) 0 1px 0;
}
/*.Form {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 15px;
  position: relative;
}
*/

.Form button {
  -webkit-appearance: none;
  display: inline-block;
  width: 10%;
  overflow: visible;
  background: transparent;
  box-shadow: none;
  border-width: 0;
  font-size: 22px;
  color: #333;
  opacity: 0.65;
}

.Steps {
  width: 50%;
}
